html {
    font-family:'BIZ UDPGothic', sans-serif;
}

nav {
    display: flex;
}

.navbar {
   background-color: rgb(153, 114, 184);
   width: 30%;
   height: 50px;
   margin: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: aliceblue;
   font-size: 20px;
   font-weight: bold;
}

a {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color:#d1b539; 
    text-decoration:none; 
    cursor:pointer;  
}

.heading1 {
    text-align: center;
}

main {
    text-align: center;
    list-style-position: inside;
}

.img {
    text-align: center;
    margin: 90px;
}