.button-nb {
    background-color: orange;
    border-radius: 10px;
}

.navbar {
    display: inline-flex;
    align-items: center;
}

.navbar a {
    padding: 4px;
    margin-left: 12px;
    font-family: sans-serif;
    color: rgb(135, 138, 137);
    text-decoration: none;
}
